<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="https://img.icons8.com/dotty/80/000000/idea-sharing.png">

<script type="text/javascript" src="/MDB/js/jquery-3.4.0.min.js"></script>
{{!-- BOOTSTRAP NOTIFY --}}
<script type="text/javascript" src="/bootstrap-notify-master/bootstrap-notify.min.js"></script>
{{!-- <link rel="stylesheet" href="animate.min.css"> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<!-- Bootstrap core CSS -->
<link href="/MDB/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="/MDB/css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
{{!-- CUSTOM CSS --}}
{{!-- <link rel="stylesheet" href="/MDB/css/style.css"> --}}
{{!-- CUSTOM CSS --}}

{{!-- ANIMATE CSS --}}
<title>vide-idea </title>
<style>
{{!-- @import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700); --}}


[data-notify="container"][class*="alert-pastel-"] {
	background-color: rgb(255, 255, 238);
	border-width: 0px;
	border-left: 15px solid rgb(255, 240, 106);
	border-radius: 0px;
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
	{{!-- font-family: 'Old Standard TT', serif; --}}
	letter-spacing: 1px;
}

[data-notify="container"].alert-pastel-success {
	border-left-color: rgb(40, 255, 105);
}

[data-notify="container"].alert-pastel-info {
	border-left-color: rgb(255, 179, 40);
}
[data-notify="container"].alert-pastel-danger {
	border-left-color: rgb(255, 103, 76);
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
	color: rgb(80, 80, 57);
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}
[data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
	font-weight: 400;
}
</style>
</head>

<body>
{{> _navbar}}
<div class="container">
{{>_msg}}
{{>_errors}}
{{{body}}} 

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/MDB/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/MDB/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/MDB/js/mdb.min.js"></script>
<script>
$('.toggle').on('click', function() {
$('.container').stop().addClass('active');
});

$('.close').on('click', function() {
$('.container').stop().removeClass('active');
});
</script>
</div>
</body>
</html>